{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "expect": true
  },
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "google",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "rules": {
    "max-len": ["error", 120],
    "require-jsdoc": "off",
    "comma-dangle": "off",
    "linebreak-style": "off",
    "no-console": "off"
  }
}